body{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 5vw;
    grid-template-areas: "header header header"
                        "title title title"
                        "banner banner banner"
                        "footer footer footer";
}

.header {
    grid-area: header;
}

.title {
    grid-area: title;
}

.banner {
    grid-area: banner;
}

.footer {
    grid-area: footer;
}